<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HeartConsole.Variables" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HeartConsole.Variables>
            <setting name="baseDir" serializeAs="String">
                <value>/CrystalHomeSys/Heart</value>
            </setting>
            <setting name="configDir" serializeAs="String">
                <value>/heart_config.cfg</value>
            </setting>
            <setting name="logBaseDir" serializeAs="String">
                <value>/Logs/</value>
            </setting>
            <setting name="systemType" serializeAs="String">
                <value>Heart</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>0.0.1</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>6976</value>
            </setting>
            <setting name="shardFileDir" serializeAs="String">
                <value>/Shard_Files</value>
            </setting>
        </HeartConsole.Variables>
    </applicationSettings>
</configuration>